#header {
  height: 100%;
  background-color: var(--darkGreen);
  padding-top: 50px;
  position: relative;
}

#header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
}

#header__content > p {
  width: 34.375vw;
  text-align: center;
  font-family: var(--graphik-Regular);
  color: white;
  margin-bottom: 24px;
  line-height: 1.5;
  z-index: 1;
}

#header__content > button {
  width: 160px;
  padding: 20px 24px;
  color: black;
  background-color: #55dd4a;
  border-radius: 10px;
  border: none;
  font-family: var(--graphik-Medium);
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}

#container__title {
  font-size: 10vw;
  text-transform: uppercase;
  font-family: var(--deacon-blk);
  text-align: center;
  position: relative;
  color: white;
  line-height: 0.8;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#container__title > span {
  color: #55dd4a;
}

#imageContent {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: -20vh;
  z-index: 0;
}

@media (max-width: 1000px) {
  #header__content > p {
    width: 46.6vw;
  }

  #imageContent {
    margin-top: -10vh;
  }
}

@media (max-width: 600px) {
    #container__title {
      font-size: 13vw;
    }
  
    #header__content > p {
      width: 80vw;
    }
  
    #imageContent {
      margin-top: -2vh;
      object-position: center;
    
    }
  }

@media (max-width: 500px) {
  #container__title {
    font-size: 13vw;
  }

  #header__content > p {
    width: 80vw;
  }

  #imageContent {
    margin-top: -2vh;
    
  }
}
